<section id="content" role="main" class="container">
	<div class="row">
		<div class="col-md-12 {{sidebar_class}}">
			{% block content %}
				{% include 'views/content-none.twig' %}
			{% endblock %}
        </div>
	</div>
</section>