{% block html_head_container %}
{% include 'head.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    <body class="{{body_class}}" data-template="base.twig">
        {% block header %}
	        <header class="header">
	        	{% include 'header.twig' %}
	        </header>
        {% endblock %}

        <section id="content" role="main" class="container">
        	<div class="row">
        		<div class="{% if get_sidebar('sidebar-primary') %}col-md-8{% else %}col-md-12{% endif %} {{sidebar_class}}">
	                {% block content %}
	                    Sorry, no content
	                {% endblock %}
	            </div>
	            {% if get_sidebar('sidebar-primary') %}
	                <aside class="col-md-4 sidebar">
	                    {{get_sidebar('sidebar-primary')}}
	                </aside>
	            {% endif %}
        	</div>
        </section>

        {% block footer %}
            <footer id="footer">
                {% include 'footer.twig' %}
            </footer>
            {{wp_footer()}}
        {% endblock %}

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </body>
</html>