{% extends "layout.twig" %}

{% block content %}
    {% embed 'parts/wrapper.twig' %}
		{% block content %}
			<div class="container content-wrapper">
			{{content}}
			</div> <!-- /content-wrapper -->
		{% endblock %}
    {% endembed %}
{% endblock %}