{% extends "views/layout.twig" %}

{% block content %}
    {% embed 'views/wrapper.twig' %}
		{% block content %}
			{% if have_posts() %}
				<div class="content-wrapper">
					{% for post in posts %}
						{% include ['views/content-'~post.post_type~'.twig', 'views/content.twig'] %}
					{% endfor %}
					
					{{paginate_links({
						'prev_text'          : __( 'Previous page', 'branch' ),
						'next_text'          : __( 'Next page', 'branch' ),
						'before_page_number' : '<span class="meta-nav screen-reader-text">' ~ __( 'Page', 'branch' ) ~ ' </span>'
					})}}
				</div> <!-- /content-wrapper -->
			{% else %}
				{% include ['views/content-none.twig'] %}
			{% endif %}
		{% endblock %}
    {% endembed %}
{% endblock %}